<%= stylesheet_link_tag "borrower-style.css" %>
<div class="content">
  <div class="wrapper">
		<% if notice %>
			<div id="notification" style="text-align:center;">
				<p><%= notice.gsub("<br>","<br/>") %></p> 
			</div>
		<% end %>
		
		<% if alert %>
			<div id="notification" style="text-align:center;">
				<p><%= alert.gsub("<br>","<br/>") %></p> 
			</div>
		<% end %>
		
 
	<div class="signup-details">
   
	
		<!-- Borrowers' div -->
		<form method="post" id="user_new" class="user_new" action="<%= new_user_session_url %>" accept-charset="UTF-8">
		<div class="left email-login">
          <h4>Signup with your email or <a href="<%= new_user_session_url %>" style="color:#b91141;;">Login here</a></h4>
					<label>Email</label>
					<input type="text" id="user_email" name="user[email]" value="<%= params[:user][:email] unless params[:user].blank? %>">
					<label>Password</label>
					<input type="password"  id="user_password" name="user[password]"  value="<%= params[:user][:password] unless params[:user].blank? %>">
 				<input type="submit" value="" id="submit" class="">
				</form>
			</div>
			</form>
			<div id="fblogin" class="right">
				<h4>Sign in with your other accounts</h4>
				<a href="/facebook-login" title="Login with Facebook"> <img alt="FB Login" src="/images/fb-connect_new.gif"></a>
				<br>
				<a href="/google-login" title="Login with Gmail"><img alt="Gmail Login" src="/images/gmail-connect.gif"></a>
			</div>
		<div class="clear"></div>			
	</div><!-- /Borrowers' div -->
	<div class="shadow-signup"></div>
	</div>
</div>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>


