<%= stylesheet_link_tag "CheckBoxStyle.css" %>
<%= stylesheet_link_tag "AccodianStyle.css" %>
<%= javascript_include_tag "jquery.min.js" %>
<%= javascript_include_tag "customInput.jquery.js" %>
<%= javascript_include_tag "jquery-1.2.1.min.js" %>
<%= javascript_include_tag "menu-collapsed.js" %>

 <script type="text/javascript">
 // Run the script on DOM ready:
 $(function(){
  $('input').customInput();
  $('input').customRadioInput()
 });
 </script> 



<div id="toppanelbotmborder"></div>
<div id="lendersProfilemainpanel">
 <div id="Borrowerspanel">
  <div id="Borrowerscontent">
   <div id="advance_search_id"><%= render :partial=>"/home/search_filter"%></div>
    <div id="lendersProfileRight">
         <div id="notification"><!-- Notification div starts here -->
    <p>Your payment has been successful</p>
     </div><!-- /Notification div starts here -->
      <div id="lendersProfiletopHead">
     <img src="images/Investerprofile_name.jpg" />
    </div>
    <div id="lendersResultpanel">
     <div id="lendersResultBox">
      <img src="images/lenders_profileimg1.jpg" />
      <p>
       <span class="headResult">Rajashree Rajunath</span>
       <span class="con1Result">Bangalore, India <span class="con1ResultRed">|</span> Investor since Nov’09</span>      
       <span class="con1SubResult">Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do ei Lorem ipsum dolor sit amet, consectetur adipisicing incididunt ut labo incididunt ut labore et dolore</span>
       <span class="con2SubResult">Investments:</span>
       <span class="con2Result">Investment Made - <span class="con1Result1Red">3200 |</span> Amount Paid Back - <span class="con1Result1Red">254.79</span></span> 
      </p>
     </div>
     <div id="lendersResultBox2">
      <h2>Sponsored:</h2>
      <div id="LRSponsoredBox1">
       <div id="LRSponsorContent1">
        <img src="images/Sponsor_icon.jpg" />
        <div id="LRsponsortext"> 
         <h2>Muskan Shetty</h2>
         <p>Donated <span>Rs.300 <em>on 27.12.2009</em></span></p>
        </div>
       </div>
       <div id="LRSponsorContentSpace"></div>       
       <div id="LRSponsorContent1">
        <img src="images/Sponsor_icon.jpg" />
        <div id="LRsponsortext"> 
         <h2>Muskan Shetty</h2>
         <p>Donated <span>Rs.300 <em>on 27.12.2009</em></span></p>
        </div>
       </div>
       <div id="LRSponsorContentSpace"></div>       
       <div id="LRSponsorContent1">
        <img src="images/Sponsor_icon.jpg" />
        <div id="LRsponsortext"> 
         <h2>Muskan Shetty</h2>
         <p>Donated <span>Rs.300 <em>on 27.12.2009</em></span></p>
        </div>
       </div>
      </div>
      <div id="LRSponsoredBox2">
       <div id="LRSponsorContent1">
        <img src="images/Sponsor_icon.jpg" />
        <div id="LRsponsortext"> 
         <h2>Muskan Shetty</h2>
         <p>Donated <span>Rs.300 <em>on 27.12.2009</em></span></p>
        </div>
       </div>
       <div id="LRSponsorContentSpace"></div>       
       <div id="LRSponsorContent1">
        <img src="images/Sponsor_icon.jpg" />
        <div id="LRsponsortext"> 
         <h2>Muskan Shetty</h2>
         <p>Donated <span>Rs.300 <em>on 27.12.2009</em></span></p>
        </div>
       </div>
       <div id="LRSponsorContentSpace"></div>       
       <div id="LRSponsorContent1">
        <img src="images/Sponsor_icon.jpg" />
        <div id="LRsponsortext"> 
         <h2>Muskan Shetty</h2>
         <p>Donated <span>Rs.300 <em>on 27.12.2009</em></span></p>
        </div>
       </div>
      </div>
      <div id="LRSponsoredBox3">
       <div id="LRSponsorContent1">
        <img src="images/Sponsor_icon.jpg" />
        <div id="LRsponsortext"> 
         <h2>Muskan Shetty</h2>
         <p>Donated <span>Rs.300 <em>on 27.12.2009</em></span></p>
        </div>
       </div>
       <div id="LRSponsorContentSpace"></div>       
       <div id="LRSponsorContent1">
        <img src="images/Sponsor_icon.jpg" />
        <div id="LRsponsortext"> 
         <h2>Muskan Shetty</h2>
         <p>Donated <span>Rs.300 <em>on 27.12.2009</em></span></p>
        </div>
       </div>
       <div id="LRSponsorContentSpace"></div>       
       <div id="LRSponsorContent1">
        <img src="images/Sponsor_icon.jpg" />
        <div id="LRsponsortext"> 
         <h2>Muskan Shetty</h2>
         <p>Donated <span>Rs.300 <em>on 27.12.2009</em></span></p>
        </div>
       </div>
      </div>
     </div>
    </div>
    </div>
  </div>
 </div>
</div>
<div id="middleBorrowerpanBot"></div>
